@import 'styles/abstracts/variables.scss';

.header {
  background-color: $header-color;
  border-radius: 0.7rem;
  width: 70%;
  height: 5rem;
  display: flex;
  align-items: center;
  padding: 0 3rem;
  margin: 2rem auto;
  justify-content: space-between;

  &__title {
    color: $main-color;
  }

  &__icon {
    width: 3.5rem;
    height: 3.5rem;
    color: #e5e7eb;
  }

  &__cartContainer {
    position: relative;
    display: flex;
  }

  .count {
    background-color: black;
    width: 2.5rem;
    height: 2.5rem;
    color: white;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -20px;
    top: -5px;
  }

  .breadcrumbs {
    font-size: 2rem;
    color: white;
  }

  .link {
    &:hover {
      color: blue;
    }
  }
}
